{{#each this}}
    <div class="mail">
        <a href="#">
            {{#if unread }}<strong>{{/if}}
                {{#if selected}}
                    <span style="float:left;width:20px;"><input title="check" class="check" type="checkbox" checked="checked" /></span>
                {{ else }}
                    <span style="float:left;width:20px;"><input title="check" class="check" type="checkbox" /></span>
                {{/if}}
                {{#if star}}
                    <span style="float:left;width:20px;" class="star staricon bookmark"> &nbsp; </span>
                {{ else }}
                    <span style="float:left;width:20px;" class="star staricon nobookmark"> &nbsp; </span>
                {{/if}}
                <span class="sender">{{{sender}}}{{#gt length 1}}({{length}}){{/gt}}</span>
                <span class="timestamp">{{timestamp}}</span>
                <span class="mail-subject">{{{subject}}}</span>
                <span class="mail-snippet">{{{snippet}}}</span>
            {{#if unread}}</strong>{{/if}}
        </a>
        <div style="clear:both;"></div>
    </div>
{{/each}}