<a href="#">
    {{#if unread }}<strong>{{/if}}
        {{#if selected}}
            <span style="float:left;width:20px;"><input title="check" class="check" type="checkbox" checked="checked" /></span>
        {{ else }}
            <span style="float:left;width:20px;"><input title="check" class="check" type="checkbox" /></span>
        {{/if}}
        {{#if star}}
            <span style="float:left;width:20px;" class="star icon bookmark"> &nbsp; </span>
        {{ else }}
            <span style="float:left;width:20px;" class="star icon nobookmark"> &nbsp; </span>
        {{/if}}
        <span class="sender">{{{sender}}}</span>
        <span class="mail-subject">{{{subject}}}</span>
        <span class="mail-snippet">{{{snippet}}}</span>
        <span class="timestamp">{{timestamp}}</span>
    {{#if unread}}</strong>{{/if}}
</a>
<div style="clear:both;"></div>