<li>
    <a href="#" id="inbox">
        {{#if inbox}}<strong>Inbox ({{inbox}})</strong>{{/if}}
    </a>
</li>
<li>
   <a href="#" id="primary">
       {{#if primary}}<strong> Primary ({{primary}}) </strong>{{/if}}
   </a>
</li>
<li>
   <a href="#" id="social">
       {{#if social}}<strong> Social ({{social}}) </strong>{{/if}}
   </a>
</li>
<li>
   <a href="#" id="promotions">
       {{#if promotions}}<strong> Promotions ({{promotions}}) </strong>{{/if}}
   </a>
</li>
<li>
   <a href="#" id="star">
       {{#if starred}}<strong> Starred ({{starred}}) </strong>{{/if}}
   </a>
</li>
<li>
   <a href="#" id="unread">
       {{#if unread}}<strong> Unread ({{unread}}) </strong>{{/if}}
   </a>
</li>
<li>
    <a href="#" id="archived">
        {{#if archived}}<strong> Archived ({{archived}}) </strong>{{/if}}
    </a>
</li>