<li>
   <a href="#" id="inbox">
       {{#if inbox}}<strong> Primary ({{ inbox }}) </strong>{{else}}Primary{{/if}}
   </a>
</li>
<li>
   <a href="#" id="promotionsbox">
       {{#if promotions}}<strong> Promotions ({{ promotions }}) </strong>{{else}}Promotions{{/if}}
   </a>
</li>
<li>
   <a href="#" id="starred">
       {{#if starred}}<strong> Starred ({{ starred }}) </strong>{{else}}Starred{{/if}}
   </a>
</li>
<li><a href="#" id="allmail">All Mail</a></li>