<li>
    <a href="#" id="totalinbox">
        {{#if inbox}}<strong> Inbox ({{inbox}}) </strong>{{else}}Inbox{{/if}}
    </a>
</li>
<li>
   <a href="#" id="primary">
       {{#if primary}}<strong> Primary ({{primary}}) </strong>{{else}}Primary{{/if}}
   </a>
</li>
<li>
   <a href="#" id="social">
       {{#if social}}<strong> Social ({{social}}) </strong>{{else}}Social{{/if}}
   </a>
</li>
<li>
   <a href="#" id="promotions">
       {{#if promotions}}<strong> Promotions ({{promotions}}) </strong>{{else}}Promotions{{/if}}
   </a>
</li>
<li>
    <a href="#" id="allmail">
        {{#if allmail}}<strong> Archived ({{allmail}}) </strong>{{else}}Archived{{/if}}
    </a>
</li>
<li>
   <a href="#" id="star">
       {{#if starred}}<strong> Starred ({{starred}}) </strong>{{else}}Starred{{/if}}
   </a>
</li>
<li>
   <a href="#" id="star">
       {{#if unread}}<strong> Unread ({{unread}}) </strong>{{/if}}
   </a>
</li>